Source: gandalf-server
Section: devel
Priority: extra
Maintainer: Globo.com <tsuru@corp.globo.com>
Build-Depends: debhelper (>= 7.0.50~), golang (>= 2:1.1.1~), mercurial (>= 2.0.2-1~), bzr (>= 2.5.1-0~), git (>= 1:1.7.9.5~)
Standards-Version: 3.9.3
Homepage: https://github.com/globocom/gandalf

Package: gandalf-server
Architecture: amd64
Depends: ${misc:Depends}
Description: Gandalf is a Git repositories manager.
 Gandalf manages Git access to repositories, by handling users, keys and
 repositories.
