#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1
# Tell dh-golang where this package lives upstream
export DH_GOPKG := github.com/dotcloud/docker
# Tell dh-golang that we DO need subpackages
export DH_GOLANG_INSTALL_ALL := 1

# temporary build path (see http://golang.org/doc/code.html#GOPATH)
#export GOPATH := $(CURDIR)/.gopath:$(CURDIR)/vendor

.gopath:
	rm -rf ${CURDIR}/.gopath
	mkdir -p ${CURDIR}/.gopath/src/github.com/dotcloud
	ln -sf ${CURDIR} ${CURDIR}/.gopath/src/github.com/dotcloud/docker

DOCKER_BASE = .
DOCKER_VERSION = $(shell cat $(DOCKER_BASE)/VERSION)
export DOCKER_GITCOMMIT := $(shell awk '/^$(DOCKER_VERSION):/ { print $$2 }' debian/upstream-version-gitcommits)

clean:
	dh_clean
	rm -rf $(CURDIR)/bin $(GOPATH)/.gopath

build-stamp: .gopath
	@bash -c '{ [ "$$DOCKER_GITCOMMIT" ]; } || { echo; echo "error: missing DOCKER_GITCOMMIT - see debian/upstream-version-gitcommits"; echo; exit 2; } >&2'
	cd $(DOCKER_BASE)/; AUTO_GOPATH=1 hack/make.sh dynbinary
	mkdir -p debian/bin
	mv $(DOCKER_BASE)/bundles/${DOCKER_VERSION}/dynbinary/docker-${DOCKER_VERSION} debian/bin/docker
	mv $(DOCKER_BASE)/bundles/${DOCKER_VERSION}/dynbinary/dockerinit-${DOCKER_VERSION} debian/bin/dockerinit

binary-stamp:
	dh_prep
	dh_installdirs
	dh_install
	dh_installdocs -a --all $(DOCKER_BASE)/CHANGELOG.md
	dh_installinit --no-start --name=docker
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

override_dh_strip:
	# the SHA1 of dockerinit is important: don't strip it
	# also, Go has lots of problems with stripping, so just don't

build: build-arch build-indep
build-arch: build-stamp
build-indep: build-stamp

binary: binary-arch binary-indep
binary-arch: binary-stamp
binary-indep: binary-stamp
