#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
PKGDIR=debian/nodejs
SRCROOT=$(CURDIR)

override_dh_auto_test:
	@echo "ok"

%:
	dh $@ 

binary-arch: clean
	dh_prep
	dh_installdirs
	mkdir -p $(PKGDIR)/usr
	cp -r $(SRCROOT)/node-bin/* $(PKGDIR)/usr
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-arch
