Source: tsuru-client
Section: devel
Priority: extra
Maintainer: Globo.com <tsuru@corp.globo.com>
Build-Depends: debhelper (>= 7.0.50~), golang (>= 2:1.1.1~)
Standards-Version: 3.9.3
Homepage: http://tsuru.io

Package: tsuru-client
Architecture: amd64 i386
Depends: ${misc:Depends}
Description: tsuru is the command line interface for the tsuru server
 Tsuru is an open source platform as a service software. This package installs
 the client used by application developers to communicate with tsuru server.
