#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export GOPATH=$(CURDIR)

PKGDIR=debian/gandalf-server

clean:
	dh_clean
	rm -rf $(GOPATH)/bin/* $(GOPATH)/pkg/*

build-stamp:
	go install github.com/tsuru/gandalf/webserver github.com/tsuru/gandalf/bin
	mv bin/bin bin/gandalf-ssh
	mv bin/webserver bin/gandalf-server

binary-stamp:
	dh_prep
	dh_installdirs
	dh_install
	dh_installexamples
	dh_installinit --no-start --name=gandalf-server
	dh_installinit --no-start --name=git-daemon
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

build: build-arch build-indep
build-arch: build-stamp
build-indep: build-stamp

binary: binary-arch binary-indep
binary-arch: binary-stamp
binary-indep: binary-stamp
