#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export GOPATH=$(CURDIR)

PKGDIR=debian/tsuru
VERSION:=0.8.3

%:
	dh $@ 

clean:
	dh_clean
	rm -rf $(GOPATH)/bin/* $(GOPATH)/pkg/*

binary-arch: clean
	dh_prep
	dh_installdirs
	go install github.com/globocom/tsuru/cmd/tsuru
	mkdir -p $(PKGDIR)/usr/bin
	mkdir -p $(PKGDIR)/etc/bash-completion.d
	cp $(GOPATH)/bin/* $(PKGDIR)/usr/bin/
	cp $(GOPATH)/src/github.com/globocom/tsuru/misc/bash-completion.d/tsuru $(PKGDIR)/etc/bash-completion.d
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-arch
