Source: crane
Section: devel
Priority: extra
Maintainer: Globo.com <tsuru@corp.globo.com>
Build-Depends: debhelper (>= 7.0.50~), golang (>= 2:1.1.1~), mercurial (>= 2.0.2-1~), bzr (>= 2.5.1-0~), git (>= 1:1.7.9.5~)
Standards-Version: 3.9.3
Homepage: http://tsuru.io

Package: crane
Architecture: amd64
Depends: ${misc:Depends}
Description: crane is the command line interface for the tsuru server, used by service administrators
 Tsuru is an open source platform as a service software. This package installs
 the client used by service administrators to communicate with tsuru server.
