Source: node-hipache
Section: devel
Priority: extra
Maintainer: Globo.com <tsuru@corp.globo.com>
Build-Depends: debhelper (>= 7.0.50~), nodejs (>= 0.8.25~)
Standards-Version: 3.9.3
Homepage: https://github.com/dotcloud/hipache

Package: node-hipache
Architecture: all
Depends: ${misc:Depends}, nodejs (>= 0.8.25~)
Description: Hipache is a distributed HTTP(S) proxy
 Hipache is a distributed proxy designed to route high volumes of http and
 websocket traffic to unusually large numbers of virtual hosts, in a highly
 dynamic topology where backends are added and removed several times per second.
 It is particularly well-suited for PaaS (platform-as-a-service) and other
 environments that are both business-critical and multi-tenant.
