#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
export npm_config_cache=$(CURDIR)/hipache/node_cache

%:
	dh $@

clean:
	dh_testdir
	dh_clean

build:
	cd hipache && echo $$npm_config_cache && npm install --cache-min 999999999

binary-arch:
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	dh_install
	dh_link
	dh_installinit --no-start --name=hipache
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-arch
