#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

clean:
	dh_testdir
	dh_clean

build-stamp:
	cd hipache && npm install --production --cache $(CURDIR)/modules_cache --nodedir=/usr/include/nodejs

binary-stamp:
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	dh_install
	dh_installchangelogs -a
	dh_link
	dh_installinit --no-start --name=hipache
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

build: build-arch build-indep
build-arch: build-stamp
build-indep: build-stamp

binary: binary-arch binary-indep
binary-arch: binary-stamp
binary-indep: binary-stamp
