Source: tsuru-server
Section: devel
Priority: extra
Maintainer: Globo.com <tsuru@corp.globo.com>
Build-Depends: debhelper (>= 7.0.50~), golang (>= 2:1.2), libsqlite3-dev
Standards-Version: 3.9.3
Homepage: http://tsuru.io

Package: tsuru-server
Architecture: amd64 i386
Depends: ${misc:Depends}, libsqlite3-0, openssh-client
Description: tsuru-server is the server side of the Tsuru PaaS.
 This package includes three services: Tsuru API, Tsuru collector and Tsuru SSH
 agent. All jobs are disabled by default, to enable any of them, edit the file
 /etc/default/tsuru-server.

Package: tsuru
Architecture: amd64 i386
Depends: ${misc:Depends}
Description: tsuru is the command line interface for the tsuru server
 Tsuru is an open source platform as a service software. This package installs
 the client used by application developers to communicate with tsuru server.
