Source: tsuru-server
Section: devel
Priority: extra
Maintainer: Globo.com <tsuru@corp.globo.com>
Build-Depends: debhelper (>= 7.0.50~), golang (>= 2:1.1.1~), mercurial (>= 2.0.2-1~), bzr (>= 2.5.1-0~), git (>= 1:1.7.9.5~)
Standards-Version: 3.9.3
Homepage: http://tsuru.io

Package: tsuru-server
Architecture: amd64
Depends: ${misc:Depends}
Description: tsuru-server is the server side of the Tsuru PaaS.
 This package includes two services: Tsuru API and Tsuru collector. Both jobs
 are disabled by default, to enable any of them, edit the file
 /etc/default/tsuru-server.
