#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export GOPATH=$(CURDIR)

PKGDIR=debian/tsuru-server
VERSION:=0.2.7

%:
	dh $@ 

clean:
	dh_clean
	rm -rf $(GOPATH)/bin/* $(GOPATH)/pkg/*

binary-arch: clean
	dh_prep
	dh_installdirs
	go install github.com/globocom/tsuru/cmd/tsr
	mkdir -p $(PKGDIR)/usr/bin $(PKGDIR)/etc/tsuru $(PKGDIR)/etc/default $(PKGDIR)/etc/init
	cp $(GOPATH)/etc/tsuru.conf.yaml $(PKGDIR)/etc/tsuru/tsuru.conf
	cp $(GOPATH)/bin/* $(PKGDIR)/usr/bin/
	cp $(GOPATH)/etc/tsuru-server.default $(PKGDIR)/etc/default/tsuru-server
	cp $(GOPATH)/etc/tsuru-server-api.upstart $(PKGDIR)/etc/init/tsuru-server-api.conf
	cp $(GOPATH)/etc/tsuru-server-collector.upstart $(PKGDIR)/etc/init/tsuru-server-collector.conf
	cp $(GOPATH)/etc/tsuru-ssh-agent.upstart $(PKGDIR)/etc/init/tsuru-ssh-agent.conf
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-arch
