#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export GOPATH=$(CURDIR)

PKGDIR=debian/tsuru-server

%:
	dh $@ 

clean:
	dh_clean
	rm -rf $(GOPATH)/bin/* $(GOPATH)/pkg/*

binary-arch: clean
	dh_prep
	dh_installdirs
	go install github.com/globocom/tsuru/cmd/tsr
	mkdir -p $(PKGDIR)/usr/bin $(PKGDIR)/etc/tsuru $(PKGDIR)/etc/default $(PKGDIR)/etc/init
	cp $(GOPATH)/debian/etc/tsuru.conf.yaml $(PKGDIR)/etc/tsuru/tsuru.conf
	cp -v $(GOPATH)/bin/* $(PKGDIR)/usr/bin/
	dh_installinit --no-start --name=tsuru-server-api
	dh_installinit --no-start --name=tsuru-server-collector
	dh_installinit --no-start --name=tsuru-ssh-agent
	dh_installinit --no-start --name=tsuru-server
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-arch
