#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

export GOPATH=$(CURDIR)

MAKE_SELF = $(MAKE) -f debian/rules
PKGDIR=debian/tsuru-server

VERSION_COMPLETE := $(shell dpkg-parsechangelog | sed -ne 's,^Version: *\(.*\)$$,\1,p')
VERSION_UPSTREAM := $(shell echo "$(VERSION_COMPLETE)" | sed -e 's,^[0-9]*:,,' -e 's,-[^-]*$$,,')
VERSION_DEBIAN := $(shell echo "$(VERSION_COMPLETE)" | sed -e 's,^[^-]*-,,')
TSURU_CLIENT_VERSION_FILE = "src/github.com/tsuru/tsuru/cmd/tsuru/main.go"
TSURU_CLIENT_VERSION := $(shell sed -ne 's,^[\ \t]\+version\ =\ "\([^"]\+\)".*$$,\1,p' $(TSURU_CLIENT_VERSION_FILE))
TSURU_CLIENT_VERSION_DEBIAN = $(TSURU_CLIENT_VERSION)-$(VERSION_DEBIAN)
TSURU_ADMIN_VERSION_FILE = "src/github.com/tsuru/tsuru/cmd/tsuru-admin/main.go"
TSURU_ADMIN_VERSION := $(shell sed -ne 's,^[\ \t]\+version\ =\ "\([^"]\+\)".*$$,\1,p' $(TSURU_ADMIN_VERSION_FILE))
TSURU_ADMIN_VERSION_DEBIAN = $(TSURU_ADMIN_VERSION)-$(VERSION_DEBIAN)

clean:
	dh_testdir
	dh_clean
	rm -rf $(GOPATH)/bin/* $(GOPATH)/pkg/*

build:
	go install github.com/tsuru/tsuru/cmd/tsr
	go install github.com/tsuru/tsuru/cmd/tsuru
	go install github.com/tsuru/tsuru/cmd/tsuru-admin

install-base-prep:
	dh_testdir
	dh_testroot
	dh_prep
	
install-base:
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol -- $(GENCONTROL_ARGS)
	dh_md5sums
	dh_builddeb

install_tsuru-server: export DH_OPTIONS = -ptsuru-server
install_tsuru-server:
	+$(MAKE_SELF) install-base-prep
	dh_installdirs
	dh_install
	dh_installinit --no-start --name=tsuru-server-api
	dh_installinit --no-start --name=tsuru-server-admin
	dh_installinit --no-start --name=tsuru-server-collector
	dh_installinit --no-start --name=tsuru-ssh-agent
	dh_installinit --no-start --name=tsuru-server
	cp $(GOPATH)/debian/etc/tsuru.conf.yaml $(PKGDIR)/etc/tsuru/tsuru.conf
	+$(MAKE_SELF) install-base

install_tsuru: export DH_OPTIONS = -ptsuru
install_tsuru:
	+$(MAKE_SELF) install-base-prep
	dh_installdirs
	dh_install
	+$(MAKE_SELF) install-base GENCONTROL_ARGS="-v$(TSURU_CLIENT_VERSION_DEBIAN)"

install_tsuru-admin: export DH_OPTIONS = -ptsuru-admin
install_tsuru-admin:
	+$(MAKE_SELF) install-base-prep
	dh_installdirs
	dh_install
	+$(MAKE_SELF) install-base GENCONTROL_ARGS="-v$(TSURU_ADMIN_VERSION_DEBIAN)"

binary-indep:
binary-arch: $(addprefix install_, tsuru-server tsuru tsuru-admin)
binary: binary-indep binary-arch

.PHONY: build clean binary-indep binary-arch binary install configure
