Source: tsuru-node-agent
Section: devel
Priority: extra
Maintainer: Globo.com <tsuru@corp.globo.com>
Build-Depends: debhelper (>= 7.0.50~), golang (>= 2:1.2)
Standards-Version: 3.9.3
Homepage: http://github.com/tsuru/tsuru-node-agent

Package: tsuru-node-agent
Architecture: amd64 i386
Depends: ${misc:Depends}, openssh-client
Description: tsuru-agent-node provides node auto discover for Tsuru PaaS.
 The goal of this agent is to provide commands that can be run from provision
 nodes. There are three available commands:
 .
 - node-add 
 - node-remove 
 - docker-ssh-agent 
 .
 Each command is well documented and need to be run only on provision nodes,
 neither the api or collector nodes need them.
