#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

export GOPATH=$(CURDIR)

MAKE_SELF = $(MAKE) -f debian/rules
PKGDIR=debian/tsuru-server

clean:
	dh_testdir
	dh_clean
	rm -rf $(GOPATH)/bin/* $(GOPATH)/pkg/*

build:
	go install github.com/globocom/tsuru-node-agent

binary-indep:
binary-arch:
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	dh_install
	dh_installinit --no-start --name=tsuru-node-agent
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch

.PHONY: build clean binary-indep binary-arch binary install configure
